:root {
    --primary: #322C2B;
    --secondry: #803D3B;
    --light: #AF8260;
    --extraLight: #E4C59E;
}

.main-body {
    background-color: var(--secondry);
}

.main-navbar {
    width: 100%;
    height: 65px;
    background-color: var(--primary);
}

.main-nav-content img {
    width: 40px;
    border-radius: 30px;
}

.todo-box input {
    width: 100%;
    height: 46px;
    padding-left: 15px;
    background-color: var(--light);
    outline: none;
    border: none;
}

.todo-box button {
    width: 120px;
    height: 46px;
    background-color: var(--extraLight);
    border: none;
    color: var(--primary);
    font-weight: 500;
}

#list {
    display: inline;
}

#list li {
    list-style: none;
    font-size: 20px;
}

#delete_btn {
    background: transparent;
    border: none;
    font-size: 30px;
    color: rgb(216, 4, 4);
    transition: .5s ease;
}

#delete_btn:hover {
    color: red;
}

#edit_btn {
    background: transparent;
    border: none;
    font-size: 30px;
    color: rgb(34, 145, 1);
    transition: .5s ease;
}

#edit_btn:hover {
    color: rgb(3, 225, 3);
}